<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_core;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="master" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_master;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="web" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_web;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="analytics" connectionString="mongodb://localhost:27017/HabitatMultiSite_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/HabitatMultiSite_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/HabitatMultiSite_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/HabitatMultiSite_tracking_contact" />
  <add name="reporting" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_reporting;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="reporting.apikey" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_reporting.apikey;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="exm.master" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_EXM;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="exm.web" connectionString="Data Source=DESKTOP-1CN7EQP\EXPRESS;Initial Catalog=HabitatMultiSiteSitecore_EXM_Web;Integrated Security=False;User ID=sa;Password=Ninja211" />
  <add name="EXM.CryptographicKey" connectionString="E040C938FC9E4EBC3E93330B0F7837F284207B8180DB64CB5B6ABEB1AFBF6F5C" />
  <add name="EXM.AuthenticationKey" connectionString="9D80B4E56AEE694058567BD89C936FB88F2DB1272A4E88F419B6501919E0BB26" />
</connectionStrings>