<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>      
        <configuration name="Feature.CoveoSearch" dscription="Feature CoveoSearch" dependencies="Foundation.Serialization,Foundation.CoveoIndexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\coveosearch\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.CoveoSearch.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/CoveoSearch" />
            <include name="Feature.CoveoSearch.Datasources" database="master" path="/sitecore/system/Settings/Feature/CoveoSearch" />
          </predicate>  
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\coveosearch\serialization\Feature.CoveoSearch.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature CoveoSearch .*$" />
          </rolePredicate>
        </configuration>    
      </configurations>
    </unicorn>
  </sitecore>
</configuration>