<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.CoveoSearch" description="Feature CoveoSearch" dependencies="Feature.Serialization" patch:after="configuration[@name='Feature.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\coveosearch\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.CoveoSearch.Models" database="master" path="/sitecore/Layout/Models/Coveo" />
            <include name="Feature.CoveoSearch.Layouts" database="master" path="/sitecore/layout/Layouts/Coveo" />
            <include name="Feature.CoveoSearch.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Coveo" />
            <include name="Feature.CoveoSearch.Renderings" database="master" path="/sitecore/layout/Renderings/Coveo" />
            <include name="Feature.CoveoSearch.Sublayouts" database="master" path="/sitecore/layout/Sublayouts/Coveo" />
            <include name="Feature.CoveoSearch.Library" database="master" path="/sitecore/Media Library/Coveo" />
            <include name="Feature.CoveoSearch.Templates" database="master" path="/sitecore/Templates/CoveoModule" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\coveosearch\serialization\Feature.CoveoSearch.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature CoveoSearch .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>