<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <coveo>
      <defaultIndexConfiguration type="Coveo.AbstractLayer.CoveoDefaultIndexConfiguration, Coveo.AbstractLayer">
        <serverUrl>http://habitat.coveo.dev.local</serverUrl>
      </defaultIndexConfiguration>
    </coveo>
  </sitecore>
</configuration>