<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <coveo>
            <habitatIndexConfiguration ref="coveo/defaultIndexConfiguration">
                <siteName>habitat</siteName>
            </habitatIndexConfiguration>
        </coveo>
        <contentSearch>
            <configuration>
                <indexes hint="list:AddIndex">
                    <index id="Coveo_master_index_Habitat" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[1]">
                        <param desc="p_Name">$(id)</param>
                        <configuration ref="coveo/habitatIndexConfiguration">
                            <pushPermissionsOnRebuild>true</pushPermissionsOnRebuild>
                            <queryConfiguration ref="coveo/defaultIndexConfiguration/queryConfiguration">
                                <maximumAge>00:00:00</maximumAge>
                            </queryConfiguration>
                        </configuration>
                        <locations hint="list:AddCrawler">
                            <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <database>master</database>
                                <root>/sitecore/content/Habitat</root>
                                <stopOnError>true</stopOnError>
                            </crawler>
                        </locations>
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoSyncMaster"/>
                        </strategies>
                        <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                    <index id="Coveo_web_index_Habitat" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[2]">
                        <param desc="p_Name">$(id)</param>
                        <configuration ref="coveo/habitatIndexConfiguration" />
                        <locations hint="list:AddCrawler">
                            <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <database>web</database>
                                <root>/sitecore/content/Habitat</root>
                                <stopOnError>true</stopOnError>
                            </crawler>
                        </locations>
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoOnPublishEndAsync"/>
                        </strategies>
                        <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
        <domainManager>
            <domains>
                <domain id="habitat" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>false</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="habitat">habitat</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="habitat">habitat</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="habitat" patch:after="site[@name='modules_website']" 
                  targetHostName="habitat.$(rootHostName)" 
                  database="web" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/habitat" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/habitat/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Habitat"
                  domain="habitat" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB" 
                  formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
                  loginPage="/login"
                  enableItemLanguageFallback="true" />
        </sites>
        <cacheSizes>
            <sites>
                <habitat>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </habitat>
            </sites>
        </cacheSizes>
        <settings>
            <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="habitat" />
            </setting>
        </settings>
    </sitecore>
</configuration>