<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase">
          <StartCommentText>BEGIN NOINDEX</StartCommentText>
          <EndCommentText>END NOINDEX</EndCommentText>
        </processor>
      </coveoPostItemProcessingPipeline>
      <coveoInboundFilterPipeline>
        <processor type="Sitecore.Foundation.CoveoIndexing.ExcludeFilesWithExtensionTypes, Sitecore.Foundation.CoveoIndexing">
          <ExtensionTypesToExclude>mp4;m4v;gif;png;jpg</ExtensionTypesToExclude>
        </processor>
        <processor type="Coveo.SearchProvider.CoveoInboundFilters.HasLayoutInboundFilter, Coveo.SearchProviderBase">
          <ApplyToPaths>/sitecore/content</ApplyToPaths>
        </processor>
      </coveoInboundFilterPipeline>
      <coveoResolveItemSite>
        <processor type="Sitecore.Foundation.CoveoIndexing.Processors.ResolveItemSiteProcessor, Sitecore.Foundation.CoveoIndexing" patch:instead="processor[@type='Coveo.SearchProvider.Processors.ResolveItemSiteProcessor, Coveo.SearchProviderBase']"/>
      </coveoResolveItemSite>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <farmName>Habitat.Coveo</farmName>
      </defaultIndexConfiguration>
    </coveo>
  </sitecore>
</configuration>