<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase">
          <StartCommentText>BEGIN NOINDEX</StartCommentText>
          <EndCommentText>END NOINDEX</EndCommentText>
        </processor>
      </coveoPostItemProcessingPipeline>
      <coveoInboundFilterPipeline>
        <processor type="Sitecore.Foundation.CoveoIndexing.ExcludeVideoFiles, Sitecore.Foundation.CoveoIndexing" />
        <processor type="Sitecore.Foundation.CoveoIndexing.ExcludeDesignerFiles, Sitecore.Foundation.CoveoIndexing" />
        <processor type="Sitecore.Foundation.CoveoIndexing.ExcludeImageFiles, Sitecore.Foundation.CoveoIndexing" />
        <!--<processor type="Sitecore.Foundation.CoveoIndexing.ExcludeItemOutsideHomeTree, Sitecore.Foundation.CoveoIndexing" />-->
        <processor type="Coveo.SearchProvider.CoveoInboundFilters.HasLayoutInboundFilter, Coveo.SearchProviderBase"></processor>
      </coveoInboundFilterPipeline>
      <coveoResolveItemSite>
        <processor type="Sitecore.Foundation.CoveoIndexing.Processors.ResolveItemSiteProcessor, Sitecore.Foundation.CoveoIndexing" patch:instead="processor[@type='Coveo.SearchProvider.Processors.ResolveItemSiteProcessor, Coveo.SearchProviderBase']"/>
      </coveoResolveItemSite>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <fieldMap type="Coveo.SearchProvider.CoveoFieldMap, Coveo.SearchProvider">
          <fieldNames hint="raw:AddFieldByFieldName">
            <fieldType fieldName="metakeywords" isSortable="true" isExternal="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="title" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="mappointcategory" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
          <externalFields hint="raw:AddExternalField">
            <field fieldName="syslanguage"/>
            <field fieldName="sysfiletype"/>
            <field fieldName="date"/>
            <field fieldName="ytvideoduration" fieldTypeName="integer" />
            <field fieldName="ytviewcount" fieldTypeName="integer" />
            <field fieldName="ytlikecount" fieldTypeName="integer" />
            <field fieldName="ytdescription" />
            <field fieldName="ytvideotags" />
            <field fieldName="poktype" />
          </externalFields>
        </fieldMap>
        <documentOptions>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="pageicon" sourceField="image">Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase</field>
            <field fieldName="personicon" sourceField="picture">Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase</field>
            <field fieldName="metakeywords" sourceField="metaKeywords" referencedFieldName="keyword">Coveo.SearchProvider.ComputedFields.ReferencedFieldComputedField, Coveo.SearchProviderBase</field>
          </fields>
          <exclude hint="list:AddExcludedTemplate">
            <HtmlMessage>{ECF0A9C8-FE56-45D8-B750-6BDE3A34A532}</HtmlMessage>
            <SampleItem>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</SampleItem>
            <LandingPage>{9917C92B-0F13-4F96-B50B-84C874E25783}</LandingPage>
          </exclude>
          <excludeField hint="list:AddExcludedField">
            <__FinalRenderings>{04BF00DB-F5FB-41F7-8AB7-22408372A981}</__FinalRenderings>
          </excludeField>
        </documentOptions>
        <siteName>habitat</siteName>
      </defaultIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="Coveo_master_index_Utilities" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[1]">
            <!-- SUBSITE Utilities Master Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration">
              <pushPermissionsOnRebuild>true</pushPermissionsOnRebuild>
              <queryConfiguration ref="coveo/defaultIndexConfiguration/queryConfiguration">
                <maximumAge>00:00:00</maximumAge>
              </queryConfiguration>
            </configuration>
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/content/Utilities</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoSyncMaster"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
          <index id="Coveo_web_index_Utilities" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[2]">
            <!--SUBSITE Utilities Web Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration" />
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/content/Utilities</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoOnPublishEndAsync"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
          <index id="Coveo_master_index_Legal" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[1]">
            <!--SUBSITE Legal Master Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration">
              <pushPermissionsOnRebuild>true</pushPermissionsOnRebuild>
              <queryConfiguration ref="coveo/defaultIndexConfiguration/queryConfiguration">
                <maximumAge>00:00:00</maximumAge>
              </queryConfiguration>
            </configuration>
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/content/Legal</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="MediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/media library/Legal/Documents</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoSyncMaster"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
          <index id="Coveo_web_index_Legal" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[2]">
            <!--SUBSITE Legal Web Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration" />
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/content/Legal</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <crawler name="MediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/media library/Legal/Documents</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoOnPublishEndAsync"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
          <index id="Coveo_master_index_Finance" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[1]">
            <!--SUBSITE Finance Master Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration">
              <pushPermissionsOnRebuild>true</pushPermissionsOnRebuild>
              <queryConfiguration ref="coveo/defaultIndexConfiguration/queryConfiguration">
                <maximumAge>00:00:00</maximumAge>
              </queryConfiguration>
            </configuration>
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawlerPersonal" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/content/Finance</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <!--<crawler name="ContentCrawlerBusiness" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch"><database>master</database><root>/sitecore/content/Finance/Business</root><stopOnError>true</stopOnError></crawler>						-->
              <crawler name="MediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/media library/Finance/Documents</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoSyncMaster"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
          <index id="Coveo_web_index_Finance" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider" patch:before = "*[2]">
            <!--SUBSITE Finance Web Index -->
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration" />
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawlerPersonal" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/content/Finance</root>
                <stopOnError>true</stopOnError>
              </crawler>
              <!--<crawler name="ContentCrawlerBusiness" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch"><database>web</database><root>/sitecore/content/Finance/Business</root><stopOnError>true</stopOnError></crawler>						-->
              <crawler name="MediaLibraryCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>web</database>
                <root>/sitecore/media library/Finance/Documents</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/coveoOnPublishEndAsync"/>
            </strategies>
            <propertyStore ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)"/>
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>