<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <coveoPostItemProcessingPipeline>
        <processor type="Coveo.SearchProvider.Processors.HtmlContentInBodyWithRequestsProcessor, Coveo.SearchProviderBase">
          <StartCommentText>BEGIN NOINDEX</StartCommentText>
          <EndCommentText>END NOINDEX</EndCommentText>
        </processor>
      </coveoPostItemProcessingPipeline>
      <coveoInboundFilterPipeline>
        <processor type="SitecoreHabitatDemo.ExcludeVideoFiles, SitecoreHabitatDemo" />
        <processor type="SitecoreHabitatDemo.ExcludeDesignerFiles, SitecoreHabitatDemo" />
        <processor type="SitecoreHabitatDemo.ExcludeImageFiles, SitecoreHabitatDemo" />
        <!--<processor type="SitecoreHabitatDemo.ExcludeItemOutsideHomeTree, SitecoreHabitatDemo" />-->
        <processor type="Coveo.SearchProvider.CoveoInboundFilters.HasLayoutInboundFilter, Coveo.SearchProviderBase"></processor>
      </coveoInboundFilterPipeline>
      <coveoResolveItemSite>
        <processor type="SitecoreHabitatDemo.Processors.ResolveItemSiteProcessor, SitecoreHabitatDemo" patch:instead="processor[@type='Coveo.SearchProvider.Processors.ResolveItemSiteProcessor, Coveo.SearchProviderBase']"/>
      </coveoResolveItemSite>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <fieldMap type="Coveo.SearchProvider.CoveoFieldMap, Coveo.SearchProvider">
          <fieldNames hint="raw:AddFieldByFieldName">
            <fieldType fieldName="metakeywords" isSortable="true" isExternal="true" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="title" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
          <externalFields hint="raw:AddExternalField">
            <field fieldName="syslanguage"/>
            <field fieldName="sysfiletype"/>
            <field fieldName="date"/>
          </externalFields>
        </fieldMap>
        <documentOptions>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="pageicon" sourceField="image">Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase</field>
            <field fieldName="personicon" sourceField="picture">Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase</field>
            <field fieldName="metakeywords" sourceField="metaKeywords" referencedFieldName="keyword">Coveo.SearchProvider.ComputedFields.ReferencedFieldComputedField, Coveo.SearchProviderBase</field>
          </fields>
          <exclude hint="list:AddExcludedTemplate">
            <HtmlMessage>{ECF0A9C8-FE56-45D8-B750-6BDE3A34A532}</HtmlMessage>
            <SampleItem>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</SampleItem>
            <LandingPage>{9917C92B-0F13-4F96-B50B-84C874E25783}</LandingPage>
          </exclude>
          <excludeField hint="list:AddExcludedField">
            <__FinalRenderings>{04BF00DB-F5FB-41F7-8AB7-22408372A981}</__FinalRenderings>
          </excludeField>
        </documentOptions>
        <siteName>habitat</siteName>
      </defaultIndexConfiguration>
    </coveo>
  </sitecore>
</configuration>