<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.CoveoIndexing" description="Foundation CoveoIndexing" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\coveoindexing\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.CoveoIndexing.Models" database="master" path="/sitecore/Layout/Models/Coveo" />
            <include name="Foundation.CoveoIndexing.Layouts" database="master" path="/sitecore/layout/Layouts/Coveo" />
            <include name="Foundation.CoveoIndexing.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Coveo" />
            <include name="Foundation.CoveoIndexing.Renderings" database="master" path="/sitecore/layout/Renderings/Coveo" />
            <include name="Foundation.CoveoIndexing.Sublayouts" database="master" path="/sitecore/layout/Sublayouts/Coveo" />
            <include name="Foundation.CoveoIndexing.Library" database="master" path="/sitecore/Media Library/Coveo" />
            <include name="Foundation.CoveoIndexing.Templates" database="master" path="/sitecore/Templates/CoveoModule" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\foundation\coveoindexing\serialization\Foundation.CoveoIndexing.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Foundation CoveoIndexing .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>