<div class="activate-coveo" title="Activate Coveo Searchbox" onclick="coveoSearchboxSwitcher.toggleCoveoSearchbox()" style="display:none"></div>

<script>
    class CoveoSearchboxSwitcher{
        constructor() {
            this.coveoSearchbox = document.getElementById('@Model.SearchboxId');
            this.habitatSearchbox = document.getElementsByClassName("navbar-activity-search")[0];
            this.activateCoveoSwitch = document.getElementsByClassName("activate-coveo")[0];
            this.constants = {
                "on": "on",
                "off": "off",
                "none": "none",
                "block": "block",
                "empty": "",
                "cookieName": "coveoSearchbox",
                "showCoveoSearchbox": "Show Coveo Searchbox",
                "hideCoveoSearchbox": "Hide Coveo Searchbox"
            };
        };

        setCookie(cookieName, cookieValue, expirationDateInDays) {
            var expirationDate = new Date();
            expirationDate.setTime(expirationDate.getTime() + (expirationDateInDays*24*60*60*1000));
            var expires = "expires="+ expirationDate.toUTCString();
            document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
        };

        getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var decodedCookieValueList = decodedCookie.split(';');
            for (var i = 0; i < decodedCookieValueList.length; i++) {
                var cookieValue = decodedCookieValueList[i];
                while (cookieValue.charAt(0) === ' ') {
                    cookieValue = cookieValue.substring(1);
                };
                if (cookieValue.indexOf(name) === 0) {
                    return cookieValue.substring(name.length, cookieValue.length);
                };
            };
            return this.constants.empty;
        };

        switchCoveoOff() {
            this.coveoSearchbox.style.display = this.constants.none;
            this.habitatSearchbox.style.display = this.constants.empty;
            this.activateCoveoSwitch.classList.remove(this.constants.on);
            this.activateCoveoSwitch.style.display = this.constants.empty;
            this.activateCoveoSwitch.title = this.constants.showCoveoSearchbox;
            this.setCookie(this.constants.cookieName, this.constants.off, 30);
        };

        switchCoveoOn() {
            this.coveoSearchbox.style.display = this.constants.block;
            this.habitatSearchbox.style.display = this.constants.none;
            this.activateCoveoSwitch.style.display = this.constants.empty;
            this.activateCoveoSwitch.classList.add(this.constants.on);
            this.activateCoveoSwitch.title = this.constants.hideCoveoSearchbox;
            this.setCookie(this.constants.cookieName, this.constants.on, 30);
        };

        checkCoveoSwitchCookie() {
            this.coveoSearchboxCookie = this.getCookie(this.constants.cookieName);

            if (this.coveoSearchboxCookie === this.constants.off) {
                this.switchCoveoOff();
            } else {
                this.switchCoveoOn();
            };
        };

        toggleCoveoSearchbox() {
            this.coveoSearchboxCookie = this.getCookie(this.constants.cookieName);

            if (this.coveoSearchboxCookie === this.constants.off || this.coveoSearchboxCookie === this.constants.empty) {
                this.switchCoveoOn();
            } else {
                this.switchCoveoOff();
            };
        };

        coveoSearchboxSwitcher = new CoveoSearchboxSwitcher();
        coveoSearchboxSwitcher.checkCoveoSwitchCookie();
    }
</script>